<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cambiar Estado</title>
    <link href="../static/css/pedidosEmp.css" th:href="@{/css/pedidosEmp.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyVAk4Z0xQCOIG7SNmjEbhFWKm35Z-7I"></script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                    <a class="btn" href="/admin/paises">Paises</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="title" th:text="${empresa.nombre}">nombre</h2>
    <div class="group" th:each="pedido: ${pedidos}" th:if="${pedido.Estado}==false">
        <form class="form-horizontal" th:action="${'/cambiar/new/'+ pedido.id}" method="post">
            <div color="white">
                <div class="inf">
                    <div class="data"><label th:text="${'Pedido nro: '+pedido.id}">Nro</label></div>
                    <div class="data" th:each="op: ${pedido.opcion_pedidos}">
                        <label th:text="${op.option.name+': '+op.option.price+' Bs'}">Precio</label>
                    </div>
                    <div class="data"><label th:text="${'Total: ' + pedido.precio + ' Bs'}">P/u:</label></div>
                    <div class="data">
                        <label>Estado:</label>
                        <select name="status">
                            <option th:each="state : ${statuses}" th:if="${state}==${pedido.status}" th:value="${state.id}" th:text="${state.name}" selected="selected"></option>
                            <option th:each="state : ${statuses}" th:if="${state}!=${pedido.status}" th:value="${state.id}" th:text="${state.name}">Estado</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="submit">Cambiar Estado</button>
                </div>
            </div>
        </form>
        <div id="map">
            <a class="boton" th:href="${'/AdminEmp/mapa/' + pedido.id}">Mostrar ruta</a>
        </div>
    </div>
</div>

<a class="atras" href="/bienvenidos">Atras</a>

</body>
</html>