<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Empresa</title>
    <link href="../static/css/listasForm.css" th:href="@{/css/listasForm.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyVAk4Z0xQCOIG7SNmjEbhFWKm35Z-7I"></script>
    <script th:inline="javascript">
      var lat;
      var lng;
      var myLatLng;
      var marker;
      function initialize() {
        var MiDireccion = new google.maps.LatLng([[${lat}]], [[${lng}]]);
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: MiDireccion
        });

        // This event listener calls addMarker() when the map is clicked.
        google.maps.event.addListener(map, 'click', function(event) {
          myLatLng = event.latLng;
          addMarker(event.latLng, map);
        });

        if([[${empresa.idEmpresa}]]!=null)
           addMarker(MiDireccion,map);
      }

      // Adds a marker to the map.
      function addMarker(location, map) {
        lat = location.lat();
        lng = location.lng();
        document.getElementById('lat').value = lat;
        document.getElementById('lng').value = lng;
        if(marker==null){
          marker = new google.maps.Marker({
          position: location,
          label: 'E',
          map: map
          });
        }
        else{
          marker.setPosition(location);
          map.panTo(map);
        }
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

    <div class="container">
        <h1>Detalles de la empresa</h1>
        <div>
            <form class="form-horizontal" th:object="${empresa}" th:action="@{/admin/empresa}" method="post">
                <input type="hidden" th:field="*{idEmpresa}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{nombre}"/>
                        <span style="color: red;" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</span>
                    </div>
                </div>
                <label class="col-sm-2 control-label">Direccion:</label>
                <div id="map"></div>
                <div class="form-group">
                    <input id="lat" type="hidden" name="lat"/>
                    <input id="lng" type="hidden" name="lng"/>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Telefono:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{telefono}"/>
                    </div>
                    <span style="color: red;" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error</span>
                </div>
                <div class="select">
                    <label>Administrador:</label>
                    <select th:field="*{user}">
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripcion:</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" th:field="*{descripcion}"></textarea>
                        <span style="color: red;" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Error</span>
                    </div>
                </div>
                <div class="select">
                    <label>Ciudad:</label>
                    <select th:field="*{ciudad}">
                        <option th:each="ciudad : ${ciudades}" th:value="${ciudad.idCiudad}" th:text="${ciudad.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">URL Imagen:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{image}"/>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
<a class="btnl" href="/admin/empresas">Atras</a>
</body>
</html>