<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Empresa</title>
    <link href="../static/css/datosView.css" th:href="@{/css/datosView.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyVAk4Z0xQCOIG7SNmjEbhFWKm35Z-7I"></script>
    <script th:inline="javascript">
      var lat;
      var lng;
      var myLatLng;
      var marker;
      function initialize() {
        var MiDireccion = new google.maps.LatLng([[${empresa.direccion.latitud}]], [[${empresa.direccion.longitud}]]);
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: MiDireccion
        });

        addMarker(MiDireccion,map);
      }

      // Adds a marker to the map.
      function addMarker(location, map) {
        marker = new google.maps.Marker({
        position: location,
        label: 'E',
        map: map
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                    <a class="btn" href="/admin/paises">Paises</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<div class="container">
    <h1 th:text="${empresa.nombre}">Nombre</h1>
    <div class="show">Descripcion:<a th:text="${empresa.descripcion}">Descripcion</a></div>
    <div class="show">Ciudad:<a th:text="${empresa.ciudad.name}">Ciudad</a></div>
    <div class="show">Direccion:</div>
    <div id="map"></div>
    <div class="show">Administrador:<a th:text="${empresa.user.name}">Usuario</a></div>
    <div class="show">Telefono:<a th:text="${empresa.telefono}">Telefono</a></div>
</div>
<a class="btnl" href="/admin/empresas">Atras</a>
</body>
</html>