<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de pedidos</title>
    <link href="../static/css/listarRestaurantes.css" th:href="@{/css/listarRestaurantes.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                    <a class="btn" href="/admin/paises">Paises</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="title">Restaurantes Disponibles</h2>
    <div  th:each="empresa : ${empresas}" th:if="${empresa.ciudad}==${user.ciudad}">
        <a th:href="${'/pedido/'+ empresa.idEmpresa}">
            <div class="group" align="center">
                <img class="info" src="http://iescarrenomiranda.es/principal/wp-content/uploads/2015/06/ciclos-formativos.jpg" th:src="${empresa.image}" alt="No tiene imagen"/>
                <div class="inf">
                    <h4 class="data" th:text="${empresa.nombre}">Titulo</h4>
                    <p class="data" th:text="${empresa.descripcion}">Descripcion</p>
                </div>
                <div class="MainData">
                    <p th:text="${'Telefono: ' + empresa.telefono}">telefono</p>
                </div>

            </div>
        </a>
    </div>
</div>

<a class="button" href="/bienvenidos">Atras</a>

</body>
</html>