<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar</title>
    <link href="../static/css/listarUsuarios.css" th:href="@{/css/listarUsuarios.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                    <a class="btn" href="/admin/paises">Paises</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<div class="cajita">
<div class="tarjetitas" th:each="user:${users}">
    <form th:action="@{/admin/listar/set}" method="post">
    <div><font color="white" size="4" th:text="${'          Id: ' +user.id}">id</font></div>
    <div><font color="white" size="4" th:text="${'          Email: ' + user.email}">email</font></div>
    <div><font color="white" size="4" th:text="${'          Nombre: ' + user.name}">name</font></div>
        <input type="hidden"  name ="newUser" th:value = "${user.id}"/>
    <div class="select">
        <label color="white">Rol:</label>
        <div th:each="rolito : ${user.roles}">
        <select name="CambiarRol">
            <option th:each="role : ${roles}" th:if="${role}==${rolito}" th:value="${role.id}" th:text="${role.name}" selected="selected"></option>
            <option th:each="role : ${roles}" th:if="${role}!=${rolito}" th:value="${role.id}" th:text="${role.name}">op2</option>
        </select>
        </div>
        <button type="Submit">Cambiar</button>
    </div>
    </form>
    <!--<form th:each="role : ${user.roles}" th:if ="${role} == 'EMP'" th:action="@{/admin/listar/set}" method="post">
        <select th:field="*{miEmpresa}">
            <option th:each="empresa : ${empresass}" th:value="${empresa.id}" th:text="${empresa.nombre}"></option>
        </select>
        <button type="Submit">FINISH x 2</button>
    </form> -->
</div>
</div>
<a class="btn-b" href="/bienvenidos">Atras</a>
</body>
</html>