<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empresa</title>
    <link href="../static/css/mapa.css" th:href="@{/css/mapa.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyVAk4Z0xQCOIG7SNmjEbhFWKm35Z-7I"></script>
    <script th:inline="javascript">
        var Empresa = new google.maps.LatLng([[${pedido.empresa.direccion.latitud}]], [[${pedido.empresa.direccion.longitud}]]);
        var MiPedido = new google.maps.LatLng([[${pedido.direccion.latitud}]], [[${pedido.direccion.longitud}]]);
        function initialize(n) {
          var directionsService = new google.maps.DirectionsService;
          var directionsDisplay = new google.maps.DirectionsRenderer;
          var map = new google.maps.Map(document.getElementById('map'), {
             zoom: 12,
             center: Empresa
          });
          directionsDisplay.setMap(map);
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        }
        function calculateAndDisplayRoute(directionsService, directionsDisplay) {
          directionsService.route({
            origin: Empresa,
            destination: MiPedido,
            travelMode: 'DRIVING'
          }, function(response, status) {
             if (status === 'OK') {
               directionsDisplay.setDirections(response);
             } else {
                window.alert('Directions request failed due to ' + status);
             }
          });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        </script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                    <a class="btn" href="/admin/paises">Paises</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="title" th:text="${'Nro de pedido: ' + pedido.id}">nombre</h2>
    <div id="map"></div>
</div>
<a class="atras" href="/AdminEmp/pedidosEmpresa">Atras</a>
</body>
</html>