<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Empresa</title>
    <link href="../static/css/listasForm.css" th:href="@{/css/listasForm.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div class="dropdown">
        <button class="dropbtn" th:text="${user.name}">nombre</button>
        <div class="dropdown-content">
            <div th:each="role : ${user.roles}" >
                <div th:if="${role.name} == 'ADMIN'">
                    <a class="btn" href="/admin/empresas">Administrar</a>
                    <a class="btn" href="/admin/listar">Ver Usuarios</a>
                    <a class="btn" href="/admin/paises">Paises</a>
                </div>
                <div th:if="${role.name} == 'EMP'">
                    <a class="btn" href="/AdminEmp/pedidosEmpresa">Pedidos</a>
                </div>
            </div>
            <a class="btn" href="/misPedidos">Mis Pedidos</a>
            <a class="btn" href="/user/edit">Cambiar Datos</a>
            <a class="btn" href="/logout">logout</a>
        </div>
    </div>
</div>

<div class="container">
    <h1>Agregar Opcion</h1>
    <div>
        <form class="form-horizontal" th:object="${option}" th:action="@{/admin/option}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{empresa}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                    <span style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Precio:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{price}"/>
                    <span style="color: red;" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">URL Imagen:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{image}"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
<a class="btnl" th:href="${ '/admin/options/' + empresa.idEmpresa}">Atras</a>
</body>
</html>