<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link href="../static/css/RegistrationView.css" th:href="@{/css/RegistrationView.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar">
    <a class="navbartitle" href="/bienvenidos">Pizza Hunter</a>
    <div align="right">
        <div class="btn-group">
            <a  class="btn" href="/registration">Registrar</a>
            <a  class="btn" href="/login">Iniciar Sesion</a>
        </div>
    </div>
</div>
<div class="container">
    <form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" role="form">
        <h1>Registrate</h1>
        <div>
            <input type="text" th:field="*{email}" placeholder="E-mail" class="form-control" />
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
        </div>
        <div>
            <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
        </div>
        <div>
            <input type="password" th:field="*{passwordConfirm}" placeholder="PasswordConfirm" class="form-control" />
            <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="validation-message"></label>
        </div>
        <div>
            <input type="text" th:field="*{name}" placeholder="Name" class="form-control"/>
        </div>
        <div class="select">
            <label>Ciudad:</label>
            <select th:field="*{ciudad}">
                <option th:each="MiCiudad : ${ciudades}" th:value="${MiCiudad.idCiudad}" th:text="${MiCiudad.name}"></option>
            </select>
        </div>
        <div>
            <button class="submit" type="submit">Registrar</button>
        </div>
        <span th:utext="${successMessage}"></span>
    </form>
    <label><p>Ya tienes una cuenta? Que esperas para ingresar!</p></label>
    <form th:action="@{/login}" method="get">
        <button class="submit" type="Submit">Login</button>
    </form>
</div>

</body>
</html>