body{
   background-image: url(../imagenes/fondoPizza.jpg);
   background-repeat: no-repeat;
   background-size:100% 100%;
   background-attachment: fixed;
   background-possition: center;
   background-color:#FAFAD2;
}

/* Navbar container */
.navbar {
  position:relative;
  margin: 0;
  padding: 0;
  right:0.6%;
  width:101.1%;
  bottom:8px;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a.btn {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  min-width: 160px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a.btn:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a.btn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a.btn:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  position:fixed;
  display: block;
}

.navbartitle {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.navbartitle:hover{
   color: #f2f2f2;
   text-align: center;
   text-decoration: none;
}

/*fin navbar */

.container{
   position:fixed;
   width:35%;
   margin: 1% 32%;
   background:rgba(0,0,0,0.5);
}

h1{
    color:white;
    font-weight:bold;
    text-align:center;
}

.show{
    color:white;
    font-size:15px;
    font-weight:bold;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 6%;
}

a{
   padding: 3% 2%;
}

.btnl{
    position:absolute;
    top:86%;
    left:22%;
    background-color: #c61114; /* Red */
        border: none;
        color: white;
        padding: 1% 3%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        float: left;
}

.btnl:hover{
    opacity: 0.8;
}

#map{
   position:relative;
   background:rgba(0,0,0,0.5);
   width:80%;
   max-width:80%;
   height:300px;
   max-height:300px;
   left:10%;
}