body{
    background-image: url(../imagenes/fondoPizza.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    background-possition: center;
    background-color:#FAFAD2;
    color:white
}
/* Navbar container */
.navbar {
  position:relative;
  margin: 0;
  padding: 0;
  right:0.6%;
  width:101.1%;
  bottom:8px;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a.btn {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  min-width: 160px;
  background-color: inherit;
}

/* Add a red background color to navbar links on hover */
.navbar a.btn:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a.btn {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a.btn:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  position:fixed;
  display: block;
}

.navbartitle {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.navbartitle:hover{
   color: #f2f2f2;
   text-align: center;
   text-decoration: none;
}

/*fin navbar */
.container{
  position:fixed;
  left:9%;
  width:80%;
  max-width:80%;
  height:85%;
  max-height:85%;
  margin:1% 1%;
  background:rgba(0,0,0,0.5);
  border-radius:3%;
  color:white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.group{
 position:relative;
 left:1%;
 width:94%;
 max-width:94%;

 background:rgba(0,0,0,0.5);
 margin:1% 1%;
 border-radius:5%;
 padding: 1% 1%;
 color:white;
}

.title{
  text-align:center;
  margin:10px 10px;
}

.data{
  margin:2% 2%;
}

button.submit {
    background-color: #c61114;
    color: white;
    padding: 1% 1%;
    margin: 0.5% 0.3%;
    border: none;
    cursor: pointer;
    width: 48%;
    max-width: 48%;
}

.boton {
    position:relative;
    left:20%;
    top:50%;
    background-color: #c61114;
    color: white;
    padding: 3% 20%;
    margin: 1% 1%;
    border: none;
    cursor: pointer;
    width: 48%;
    max-width: 48%;
    text-align: center;
    text-decoration: none;
}

.atras{
    position:fixed;
        left:0.2%;
        top:84.5%;
        background-color: #c61114;
        color: white;
        padding: 1% 0.8%;
        margin: 0.5% 0.5%;
        border: none;
        cursor: pointer;
        width: 7%;
        max-width: 7%;
        text-align: center;
        text-decoration: none;
}

.boton:hover, .atras:hover{
   opacity: 0.8;
}

.inf{
   background:rgba(0,0,0,0.5);
   color: white;
   padding: 0.5% 1%;
   margin: 0.5% 0.1%;
   border: none;
   cursor: pointer;
   width: 46%;
   max-width: 46%;
}

#map{
   position:absolute;
   bottom:2%;
   left:55%;
   width: 45%;
   max-width:50%;
   height:90%;
   max-height:90%;
}
a.btn1{
    position:absolute;
    top:85%;
    background-color: #c61114; /* Red */
    margin:0.4% 0.4%;
    border: none;
    color: white;
    padding: 1% 1.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius:5%;
}